<template>
  <div id="header">
    <div class="act">
      <NuxtLink   class="haeder-nav" to="/Home">
        <p >Главная</p>
      </NuxtLink >
      <NuxtLink  class="haeder-nav" to="/Wallets">
        <p >Мои кошельки</p>
      </NuxtLink >
      <NuxtLink  class="haeder-nav" to="/TransAct">
        <p>Мои транзакции</p>
      </NuxtLink >
    </div>
    <div class="about">
      <p>{{ infos.email }}</p>
      <div class="logo">
        <img @click="GO_SIGN()" src="../static/logo.png" alt="" />
      </div>
    </div>
  </div>
</template>


<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["infos"]),
  },
  methods: {
    ...mapActions(["GO_SIGN"]),
  },
  created() {
     
  },
};
</script>

<style>
img{
  cursor: pointer;
}
</style>