<template>
	<div id="enter" class="forms">
		<form @submit="AddTrans()">
			<h1 class="form-title">Добавить транзакцию</h1>
			<input type="text" placeholder="wallet" name="wallet"/>
			<input type="text" placeholder="ammount" name="ammount"/>
			<input type="text" placeholder="category" name="category"/>

			<button>Продолжить</button>
		</form>
	</div>
</template>

<script>
import { mapActions } from "vuex"

export default {
	methods: {
		...mapActions(["AddTrans"])
	},
};
</script>

<style>
</style>