<template>
  <div id="enter" class="forms">
    <form @submit="SIGN_IN()">
      <h1 class="form-title">Войти в аккаунт</h1>
      <input
        type="text"
        v-bind:class="{ done: isDone2 }"
        @keyup="simpleValidate(inputMail, 'typeEmail')"
        v-model="inputMail"
        placeholder="email"
        name="email"
      />

      <input
        type="password"
        class="inpTest"
        v-bind:class="{ done: isDone1 }"
        @keyup="simpleValidate(password, 'typePassword')"
        v-model="password"
        placeholder="password"
        name="password"
      />
      <!-- <img width="20px" class="default" src="../../static/done.png" alt="" /> -->

      <button>Продолжить</button>
      <NuxtLink  to="/Enter" class="switch">Регистрация</NuxtLink >
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      inputMail: "",
      password: "",
      isDone1: false,
      isDone2: false,
    };
  },
  methods: {
    simpleValidate(text, type) {
      if (type == "typePassword") {
        if (text.length >= 8) {
          this.isDone1 = true;
        } else {
          this.isDone1 = false;
        }
      }
      if (type == "typeEmail") {
        if (text.length >= 10) {
          this.isDone2 = true;
        } else {
          this.isDone2 = false;
        }
      }
    },
    ...mapActions(["SIGN_IN", "CHECK_ME"]),
  },
};
</script>

<style>
</style>

 