<template>
  <div id="trans">
    <Header />
    <div class="wrapper">
      <main>
        <div class="cont-main">
          <div class="main-top-title">
            <p class="main-title">Мои транзакции</p>
            <p class="main-email">{{ infos.email }}</p>
          </div>

          <p class="wall-title">Последние транзакции</p>
          <div class="cont-actions">
            <div class="item">
              <p class="title-action">ID</p>

              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
              <p class="info-action">1232312</p>
            </div>
            <div class="item">
              <p class="title-action">Отправлено с кошелька</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
              <p class="info-action">VISA</p>
            </div>
            <div class="item">
              <p class="title-action">Категория</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
              <p class="info-action">Автомобиль</p>
            </div>
            <div class="item">
              <p class="title-action">Сумма транзации</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
              <p class="info-action">414,000,000</p>
            </div>
            <div class="item">
              <p class="title-action">Когда</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
              <p class="info-action">4 дня назад</p>
            </div>
          </div>
          <NuxtLink to="/AddTransAct">
            <button class="add-btn">Добавить</button>
          </NuxtLink>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

import Header from "./../components/Header.vue";

export default {
  components: {
    Header,
  },
  computed: {
    ...mapGetters(["infos"]),
  },
  methods: {
    ...mapActions(["CHECK_ME"]),
  },
  created() {
    if (process.client) {
      this.CHECK_ME();
    }
  },
};
</script>

<style>
</style>